@import '../../ui/UI';
@import '../../mixins/_skinHelper';

$hoverLight: rgba(77, 118, 148, 0.7);
$hoverDefault: rgba(50, 84, 109, 0.7);
$activeDefault: rgba(39, 90, 129, 0.7);

$opposite: rgb(218, 218, 218);

.#{getClassName(toolbar)},
.#{getClassName(options)},
.#{getClassName(toolbar)} *,
.#{getClassName(options)} * {
	#{getVarName(toolbar-bg)}: #282827;
	#{getVarName(toolbar-border)}: #353535;

	#{getVarName(toolbar-item-size)}: 1.625rem;
	#{getVarName(toolbar-item-radius)}: 0.25rem;
	#{getVarName(toolbar-icon-size)}: 1rem;
	#{getVarName(toolbar-item-select-padding)}: 0.35rem;
	#{getVarName(toolbar-item-select-label-width)}: 8em;
	#{getVarName(toolbar-item-option-padding)}: 0.5rem;
	#{getVarName(toolbar-item-option-min-width)}: 10rem;

	@include make-toolbar-item-variables(null, transparent, transparent, $opposite, $opposite);
	@include make-toolbar-item-variables(hover, $hoverDefault, $hoverDefault, $opposite, $opposite, $hoverLight);
	@include make-toolbar-item-variables(active, $activeDefault, $activeDefault, $opposite, $opposite);
	@include make-toolbar-item-variables(
		active-hover,
		$activeDefault,
		$activeDefault,
		$opposite,
		$opposite,
		$hoverLight
	);
	@include make-toolbar-item-variables(disabled, transparent, transparent, #707070, #707070);

	#{getVarName(toolbar-item-option-bg)}: #282827;
	#{getVarName(toolbar-item-option-border)}: #353535;
	#{getVarName(toolbar-item-option-radius)}: 0.25rem;
	#{getVarName(toolbar-item-option-select-border)}: #353535;

	#{getVarName(toolbar-item-select-border)}: transparent;
}

:root {
	#{getVarName(editor-bg)}: #282827;
	#{getVarName(editor-border)}: #353535;
	#{getVarName(editor-focused-border)}: $activeDefault;
	#{getVarName(editor-opposite-bg)}: $opposite;
	#{getVarName(editor-solid-bg)}: #282827;

	#{getVarName(modal-bg)}: rgba(0, 0, 0, 0.6);
	#{getVarName(modal-dialog-bg)}: #282827;
	#{getVarName(modal-dialog-opposite-bg)}: $opposite;
	#{getVarName(modal-dialog-bg)}: #282827;
	#{getVarName(modal-border)}: #353535;
	#{getVarName(modal-radius)}: 14px;
	#{getVarName(modal-font)}: $opposite;

	#{getVarName(button-radius)}: 0.25rem;

	@include make-button-variables(null, transparent, transparent, $opposite, $opposite);
	@include make-button-variables(hover, $hoverDefault, $hoverDefault, $opposite, $opposite);
	@include make-button-variables(active, $activeDefault, $activeDefault, $opposite, $opposite);

	@include make-button-variables(success, transparent, transparent, rgb(67, 206, 45), rgb(67, 206, 45));
	@include make-button-variables(success-hover, $hoverDefault, $hoverDefault, rgb(61, 188, 42), rgb(61, 188, 42));
	@include make-button-variables(success-active, $activeDefault, $activeDefault, rgb(61, 188, 42), rgb(61, 188, 42));

	@include make-button-variables(cancel, transparent, transparent, #cf3939, #cf3939);
	@include make-button-variables(cancel-hover, $hoverDefault, $hoverDefault, #b83232, #b83232);
	@include make-button-variables(cancel-active, $activeDefault, $activeDefault, #b83232, #b83232);

	@include make-button-variables(remove, transparent, transparent, #cf3939, #cf3939);
	@include make-button-variables(remove-hover, $hoverDefault, $hoverDefault, #b83232, #b83232);
	@include make-button-variables(remove-active, $activeDefault, $activeDefault, #b83232, #b83232);

	@include make-button-variables(disabled, transparent, transparent, #737b81, #737b81);

	#{getVarName(input-radius)}: 0.4rem;
	#{getVarName(input-border)}: #353535;
	#{getVarName(input-focus-border)}: $activeDefault;
	#{getVarName(input-font)}: $opposite;
	#{getVarName(input-error-border)}: rgb(243, 10, 10);

	#{getVarName(hover-color)}: $hoverDefault;
	#{getVarName(selected-color)}: $activeDefault;
	#{getVarName(parts-default-color)}: $hoverDefault;
	#{getVarName(parts-opposite-color)}: $opposite;

	#{getVarName(parts-size-navigation-bg)}: rgba(0, 0, 0, 0.6);
	#{getVarName(parts-size-navigation-font)}: $opposite;

	#{getVarName(parts-menu-bg)}: #353535;
	#{getVarName(parts-menu-border)}: #595959;
	#{getVarName(parts-menu-radius)}: 0.4rem;

	#{getVarName(parts-menu-item-radius)}: 0.25rem;
	@include make-parts-item-variables(null, transparent, transparent, $opposite, $opposite);
	@include make-parts-item-variables(hover, $hoverDefault, $hoverDefault, $opposite, $opposite);
	@include make-parts-item-variables(active, $activeDefault, $activeDefault, $opposite, $opposite);
	@include make-parts-item-variables(active-hover, $activeDefault, $activeDefault, $opposite, $opposite);
	@include make-parts-item-variables(remove-hover, $hoverDefault, $hoverDefault, #b83232, #b83232);
	@include make-parts-item-variables(disabled, transparent, transparent, #707070, #707070);
	#{getVarName(parts-menu-item-remove-icon-fill)}: #b83232;
	#{getVarName(parts-menu-item-size)}: 1.6rem;
	#{getVarName(parts-menu-item-option-padding)}: 0.5rem;

	#{getVarName(format-code-hover-bg)}: $hoverDefault;
	#{getVarName(format-code-focused-bg)}: $activeDefault;
	#{getVarName(format-anchor-hover-bg)}: $hoverDefault;
	#{getVarName(format-anchor-focused-bg)}: $activeDefault;
}
