@import '../../_variable';
@import '../../_mixin';

@include setClass(editor-body, true) {
	@include marginAll(1rem);
	overflow-wrap: break-word;
	word-wrap: break-word;

	@supports not (-moz-appearance: none) {
		* {
			@include margin(rem, 0.75, $bottom: 0.75);
			@include height($line: 1.4);
			word-wrap: break-word;
		}
	}
}
