@keyframes shake-horizontal {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(0.3rem);
	}
	50% {
		transform: translateX(-0.3rem);
	}
	75% {
		transform: translateX(0.3rem);
	}
	100% {
		transform: translateX(0);
	}
}
