@import '_mixin';
@import 'elements/PartsTool';
@import 'elements/TagStyles';

@mixin word-break {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

@mixin firefox($item) {
	@supports not (-moz-appearance: none) {
		#{$item} > * {
			@include margin(rem, 0.75, $bottom: 0.75);
			@include height($line: 1.4);
			word-wrap: break-word;
		}
	}
}

##{getClassName(editor-body)} {
	@include firefox(body);
	@include all-margin(1rem);
	@include word-break;
	@include tag-styles;
	@include tag-selectable-styles('[contenteditable=' true ']');

	cursor: text;

	* {
		color: revert;
	}
}

[mode='inline'] {
	##{getClassName(editor-body)} {
		@include firefox('##{getClassName(editor-body)}');
		@include all-margin(0.75rem);
		outline: none;
	}
}

.#{getClassName(parts-size-navigation)} {
	@include position(absolute, 0, 0);
	@include font($color: getVar(parts-size-navigation-font));
	@include all-padding(0.25rem);
	background-color: getVar(parts-size-navigation-bg);
	white-space: nowrap;
}
