@import '_variable';
@import '_mixin';

.#{$projectName} {
	@include position(relative);

	&,
	* {
		box-sizing: border-box;
	}

	@include setClass(toolbar) {
		@include width(100%);
		@include height(32px);
		background-color: #ececec;

		@include setClass(icon) {
			@include flex($inline: true);
			@include paddingAll(0.3rem);
			@include marginAll(0.2rem);
			@include round(0.4rem);
			cursor: pointer;
			border: none;

			svg {
				@include square(1rem);
			}

			&.active {
				background-color: #c9c9c9;
			}

			&:hover {
				background-color: #afafaf;
			}
		}
	}

	@include setClass(wrapper) {
		@include position(relative);

		@include setClass(notification) {
			@include position(absolute, 0, 50%);
			transform: translateX(-50%);

			@include setClass(notification-message) {
				@include flex(space-between);
				@include paddingAll(0.5rem);
				@include round(0.5rem);
				background-color: rgba(255, 250, 205, 0.7);
				font-size: 1.15rem;

				@include setClass(notification-message-text) {
					@include padding(rem, $right: 0.5);
				}

				@include setClass(notification-message-icon) {
					@include flex($inline: true);
					@include round(0.4rem);
					@include padding($right: 0);
					background: transparent;
					cursor: pointer;
					border: none;

					svg {
						@include square(1.15rem);
					}
				}
			}
		}

		@include setClass(classic) {
			@include width(100%);
			border: 1px solid #ececec;
		}

		@include setClass(inline) {
			border: 1px solid #ececec;

			@include setClass(editor-body, true) {
				@include marginAll(0.75rem);
				overflow-wrap: break-word;
				word-wrap: break-word;
				outline: none;

				@supports not(-moz-appearance: none) {
					* {
						@include margin(rem, 0.75, $bottom: 0.75);
						@include height($line: 1.4);
						word-wrap: break-word;
					}
				}
			}
		}
	}

	@include setClass(loading) {
		@include position(absolute, 0, 0);
		@include square(100%);
		@include flex(center, center);
		background: rgba(255, 255, 255, 0.5);
	}
}