@mixin icon-wrap($name) {
	.#{getClassName(icon-wrap)} {
		@include flex(center, center, $inline: true);
		@include all-border(getVar(#{$name}-border));
		@include all-padding(unset);
		@include round(getVar(#{$name}-radius));
		@include font($color: getVar(#{$name}-font));
		background-color: getVar(#{$name}-bg);
		outline: none;
		cursor: pointer;

		&[disabled] {
			cursor: default;
			pointer-events: none;
		}

		& > button:not([disabled]) {
			@include all-border(none);
			@include font($color: getVar(#{$name}-font));
			@include height(100%);
			background-color: getVar(#{$name}-bg);

			&:not(.#{getClassName(color-icon)}) {
				@include flex(center, center, $inline: true);
			}
		}

		& > .#{getClassName(color-icon)}:not([disabled]),
		& > .#{getClassName(icon-button)}:not([disabled]) {
			@include round(getVar(#{$name}-radius) 0px 0px getVar(#{$name}-radius));
			@include border($right: transparent);
		}

		& > .#{getClassName(icon-button)} {
			@include all-margin(0);
		}

		& > .#{getClassName(helper)} {
			@include padding(rem, $right: 0.25, $left: 0.25);
			@include round(0px getVar(#{$name}-radius) getVar(#{$name}-radius) 0px);

			svg {
				@include square(0.8rem);
			}
		}

		&:not([disabled]) {
			svg {
				fill: getVar(#{$name}-icon-fill);
			}

			&:hover {
				svg {
					fill: getVar(#{$name}-hover-icon-fill);
				}
			}

			&:not([disabled]):focus,
			&:not([disabled]).active {
				svg {
					fill: getVar(#{$name}-active-icon-fill);
				}

				&:hover {
					svg {
						fill: getVar(#{$name}-active-hover-icon-fill);
					}
				}
			}
		}

		&[no-border]:not([disabled]) {
			.#{getClassName(icon-button)}:hover,
			.#{getClassName(color-icon)}:hover {
				background-color: transparent;
			}

			&:hover {
				background-color: getVar(#{$name}-hover-bg);
			}

			&.active {
				background-color: getVar(#{$name}-active-bg);

				&:hover {
					background-color: getVar(#{$name}-active-hover-bg);
				}
			}
		}

		&:not([disabled], [no-border]) {
			&:hover {
				background-color: getVar(#{$name}-hover-light-bg);

				.#{getClassName(icon-button)}:hover,
				.#{getClassName(color-icon)}:hover {
					background-color: getVar(#{$name}-hover-bg);
				}

				.#{getClassName(helper)}:hover {
					background-color: getVar(#{$name}-hover-bg);
				}
			}

			&:focus:hover,
			&.active:hover {
				background-color: getVar(#{$name}-active-hover-light-bg);

				.#{getClassName(icon-button)}:hover,
				.#{getClassName(color-icon)}:hover {
					background-color: getVar(#{$name}-active-hover-bg);
				}

				.#{getClassName(helper)}:hover {
					background-color: getVar(#{$name}-active-hover-bg);
				}
			}

			&:hover,
			&.active,
			&.active:hover {
				.#{getClassName(icon-button)},
				.#{getClassName(color-icon)} {
					@include border($right: getVar(#{$name}-select-border));
				}
			}
		}

		&[disabled] {
			@include font($color: getVar(#{$name}-disabled-font));
			@include all-border(getVar(#{$name}-disabled-border));
			background-color: getVar(#{$name}-disabled-bg);

			svg {
				fill: getVar(#{$name}-disabled-icon-fill);
			}
		}
	}
}
