@mixin make-toolbar-item-variables($type: null, $bg, $border, $font, $icon, $lightBg: null) {
	@if $type == null {
		$type: '';
	} @else {
		$type: #{$type}-;
	}

	@if $lightBg != null {
		#{getVarName(toolbar-item-#{$type}light-bg)}: $lightBg;
	}

	#{getVarName(toolbar-item-#{$type}bg)}: $bg;
	#{getVarName(toolbar-item-#{$type}border)}: $border;
	#{getVarName(toolbar-item-#{$type}font)}: $font;
	#{getVarName(toolbar-item-#{$type}icon-fill)}: $icon;
}

@mixin make-button-variables($type: null, $bg, $border, $font, $icon) {
	@if $type == null {
		$type: '';
	} @else {
		$type: #{$type}-;
	}

	#{getVarName(button-#{$type}bg)}: $bg;
	#{getVarName(button-#{$type}border)}: $border;
	#{getVarName(button-#{$type}font)}: $font;
	#{getVarName(button-#{$type}icon-fill)}: $icon;
}

@mixin make-parts-item-variables($type: null, $bg, $border, $font, $icon) {
	@if $type == null {
		$type: '';
	} @else {
		$type: #{$type}-;
	}

	#{getVarName(parts-menu-item-#{$type}bg)}: $bg;
	#{getVarName(parts-menu-item-#{$type}border)}: $border;
	#{getVarName(parts-menu-item-#{$type}font)}: $font;
	#{getVarName(parts-menu-item-#{$type}icon-fill)}: $icon;
}
