colorpicker-modal {
	@include flex(center, center);
	@include position(fixed, 0, 0);
	@include square(100%);
	background-color: getVar(modal-bg);
	z-index: 9999999;
	box-sizing: border-box;
	user-select: none;

	* {
		display: block;
		box-sizing: inherit;
	}

	colorpicker-dialog {
		@include round(getVar(modal-radius));
		@include all-border(getVar(modal-border));

		colorpicker-header {
			@include all-padding(0.5rem);
			@include font(14pt);
			@include round(getVar(modal-radius) getVar(modal-radius) 0 0);
			@include border($bottom: getVar(modal-border));
			@include flex(center, space-between);
			background-color: getVar(modal-dialog-bg);

			div {
				@include default-button;
				@include round(getVar(button-radius));

				svg {
					@include square(1.25rem);
					cursor: pointer;
				}
			}
		}

		colorpicker-body {
			@include all-padding(1rem);
			background-color: getVar(modal-dialog-bg);

			colorpicker-form {
				@include flex();
				white-space: nowrap;

				& > * {
					@include height(230px);
				}

				colorpicker-palette {
					@include position(relative);
					@include width(230px);
					@include margin(rem, $right: 1.5);

					div {
						@include position(absolute, calc(100% - 0.4rem), calc(0px - (0.8rem + 2px) / 2));
						@include square(0.8rem);
						@include round(50%);
						@include all-border(#000);

						&::before {
							@include square(calc(0.7rem - 2.5px));
							@include round(50%);
							@include all-border(getVar(modal-border));
							content: '\00a0';
							display: block;
						}
					}
				}

				colorpicker-hue {
					@include position(relative);
					@include width(20px);
					@include margin(rem, $right: 1.5);

					div {
						@include position(absolute, -2px, -2px);
						@include rectangle(calc(100% + 4px), 4px);
						@include all-border(#000);
						background-color: #fff;
					}
				}

				colorpicker-navigation {
					@include width(110px);
					text-align: center;

					label {
						@include flex(center);

						* {
							@include all-margin(0.3rem);
						}

						div {
							@include width(2rem);
							@include font(14pt, bold);
						}

						@include input-style;

						input {
							@include width(calc(100% - 2rem));
							@include all-padding(0.4rem);

							&:not(.error):focus {
								@include margin(null, calc(0.3rem - 2px), $bottom: calc(0.3rem - 2px));
								@include padding(null, $right: calc(0.4rem - 2px), $left: calc(0.4rem - 2px));
							}

							&.error {
								animation: shake-horizontal 0.15s;
							}
						}
					}

					& > div {
						@include rectangle(80%, 40px);
						@include margin(rem, 1.5);
						@include all-border(#000);
						display: inline-block;
					}
				}
			}
		}

		colorpicker-footer {
			@include all-padding(0.5rem);
			@include border(getVar(modal-border));
			@include round(0 0 getVar(modal-radius) getVar(modal-radius));
			background-color: getVar(modal-dialog-bg);
			text-align: right;

			button {
				@include common-button;

				&:first-child {
					@include cancel-button;
				}

				&:last-child {
					@include success-button;
				}
			}
		}
	}
}

@include mobile {
	colorpicker-modal {
		display: block;

		colorpicker-dialog {
			@include width($max: 96vw);
			@include all-margin(2vw);

			colorpicker-body {
				overflow-x: auto;

				colorpicker-form {
					@include width(408px);
				}
			}
		}
	}
}
