.#{$projectName} {
	@include position(relative);

	&,
	* {
		box-sizing: border-box;
	}

	.#{getClassName(toolbar)} {
		@include width(100%);
		@include border(getVar(toolbar-border), getVar(toolbar-border), null, getVar(toolbar-border));
		background-color: getVar(toolbar-bg);

		&[toolbar-style='scroll'] {
			@include flex($wrap: nowrap);
			overflow: auto hidden;
		}

		&[toolbar-style='float'] {
			@include flex($wrap: wrap);
			overflow: hidden;
		}

		.#{getClassName(icon)} {
			@include flex($align: center, $inline: true);
			@include all-border(none);
			@include width($min: 1.625rem);
			@include square(1.625rem);

			svg {
				@include square(100%);
			}
		}

		.#{getClassName(select)} {
			@include flex($align: center, $inline: true);
			@include all-border(getVar(toolbar-item-select-border));
			@include width($min: 120px);
			user-select: none;

			.#{getClassName(label)} {
				@include width(calc(100% - 1rem));
				@include truncation;
				text-align: left;
			}

			svg {
				@include square(1rem);
			}
		}

		.#{getClassName(icon-wrap)} {
			@include flex($align: center, $inline: true);
			@include all-border(none);
			@include all-padding(unset !important);
			@include padding(rem !important, 0.1, $bottom: 0.1);

			.#{getClassName(color-icon)} {
				@include all-border(none);
				@include padding(rem !important, 0.1, 0.3, 0.1, 0.3);
				display: inline-block;

				svg {
					@include square(0.9rem);
				}

				div {
					@include rectangle(1rem, 0.18rem);
				}
			}

			& > .#{getClassName(helper)} {
				@include padding(rem, $right: 0.3, $left: 0.3);
				@include square(1.25rem);

				svg {
					@include square(100%);
				}
			}

			&:hover {
				.#{getClassName(color-icon)} {
					@include padding(null, $right: calc(0.3rem - 1px) !important);
					@include border($right: getVar(toolbar-item-select-border));
				}
			}
		}

		.#{getClassName(toolbar-group)} {
			@include flex($align: center, $inline: true);
			@include margin(rem, $right: 0.6, $left: 0.6);
			@include position(relative);

			& > * {
				@include all-margin(0.2rem !important);
			}
		}

		& > :first-child {
			@include margin(rem, $left: 0.2);
		}

		& > :last-child {
			@include margin(rem, $right: 0.2);
		}

		& > :not(.#{getClassName(toolbar-group)}),
		& > .#{getClassName(toolbar-group)} > * {
			@include round(getVar(toolbar-item-radius));
			@include margin(rem, 0.2, 0.6, 0.2, 0.6);
			@include all-padding(0.3rem);
			@include font($color: getVar(toolbar-item-text));
			background-color: getVar(toolbar-item-bg);
			cursor: pointer;
		}

		& > .active:not(.#{getClassName(toolbar-group)}),
		& > .#{getClassName(toolbar-group)} > .active {
			@include font($color: getVar(toolbar-item-active-text));
			background-color: getVar(toolbar-item-active-bg);
		}

		& > :hover:not(.#{getClassName(toolbar-group)}),
		& > .#{getClassName(toolbar-group)} > :hover {
			@include font($color: getVar(toolbar-item-hover-text));
			background-color: getVar(toolbar-item-hover-bg);
		}

		svg {
			fill: getVar(toolbar-item-icon-fill);
		}
	}

	.#{getClassName(wrapper)} {
		@include position(relative);

		.#{getClassName(notification)} {
			@include position(absolute, 0, 50%);
			transform: translateX(-50%);

			.#{getClassName(notification-message)} {
				@include flex(space-between);
				@include all-padding(0.5rem);
				@include round(0.5rem);
				@include font(1.15rem);
				background-color: rgba(220, 213, 150, 1);

				.#{getClassName(notification-message-text)} {
					@include padding(rem, $right: 0.5);
				}

				.#{getClassName(notification-message-icon)} {
					@include flex($inline: true);
					@include round(0.4rem);
					@include padding($right: 0);
					@include all-border(none);
					background: transparent;
					cursor: pointer;

					svg {
						@include square(1.15rem);
					}
				}
			}
		}

		.#{getClassName(classic)} {
			@include width(100%);
			@include all-border(getVar(editor-border));
			background-color: getVar(editor-bg);
		}
	}

	.#{getClassName(loading)} {
		@include position(absolute, 0, 0);
		@include square(100%);
		@include flex(center, center);
		background: rgba(0, 0, 0, 0.5);
	}

	.#{getClassName(options)} {
		@include position(absolute);
		@include width(fit-content, $min: 120px);
		@include margin($top: -1);
		@include round(getVar(toolbar-item-radius));
		@include all-border(getVar(toolbar-item-select-border));
		user-select: none;
		background-color: getVar(toolbar-item-option-bg);
		z-index: 9999;

		.#{getClassName(item)} {
			list-style: none;
			white-space: nowrap;
		}

		&[palette='true'] {
			& > .#{getClassName(item)}:first-child {
				@include flex($justify: center, $align: center);
				@include border($bottom: getVar(toolbar-item-select-border));
				@include margin(rem, $bottom: 0.3);

				div {
					@include square(1.2rem);
					background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
						linear-gradient(135deg, #ccc 25%, transparent 25%),
						linear-gradient(45deg, transparent 75%, #ccc 75%),
						linear-gradient(135deg, transparent 75%, #ccc 75%);
					background-size: 0.75rem 0.75rem;
					background-position: 0 0, 0.375rem 0, 0.375rem -0.375rem, 0px 0.375rem;
				}
			}

			& > .#{getClassName(item)}:last-child {
				@include flex($justify: space-between, $align: center);
				@include border(getVar(toolbar-item-select-border));
				@include margin(rem, 0.3);
			}

			& > .#{getClassName(item)} {
				@include all-padding(0.3rem);

				button {
					@include flex($align: center);
					@include round(getVar(toolbar-item-radius));
					@include all-border(none);
					@include padding(rem, 0.3, 0.6, 0.3, 0.6);
					@include font($color: getVar(toolbar-item-text));
					background-color: getVar(toolbar-item-option-bg);
					cursor: pointer;

					svg {
						@include square(1rem);
						@include margin(rem, $right: 0.4);
						fill: getVar(toolbar-item-icon-fill);
					}

					& :last-child {
						@include margin(rem, $left: 0.3);
					}

					&:hover {
						@include font($color: getVar(toolbar-item-hover-text));
						background-color: getVar(toolbar-item-hover-bg);

						svg {
							fill: getVar(toolbar-item-hover-icon-fill);
						}
					}
				}
			}

			.#{getClassName(item-group)} {
				&[vertical='true'] {
					@include width(1.4rem);
					@include margin(rem, $left: 0.3);
				}

				&:not([vertical='true']) {
					.#{getClassName(item)} {
						@include width(1.4rem);
						@include margin(rem, $right: 0.3);
					}
				}

				&:last-child {
					@include margin(rem, $right: 0.3);
				}

				.#{getClassName(item)} {
					@include height(1.4rem);
					@include margin(rem, $bottom: 0.3);
					cursor: pointer;

					&:hover {
						@include all-border(getVar(toolbar-color-hover-border), 3px);
					}
				}
			}
		}

		.#{getClassName(item-group)} {
			&[vertical='true'] {
				@include flex($direction: column, $inline: true);
			}
			&:not([vertical='true']) {
				@include flex();
			}
		}

		&:not([palette='true']) {
			.#{getClassName(item)} {
				@include flex($align: center);
				@include all-padding(0.4rem);
				@include height(2rem);
				@include font($color: getVar(toolbar-item-text));

				svg {
					@include square(1rem);
					@include margin(rem, $right: 0.4);
					fill: getVar(toolbar-item-icon-fill);
				}

				&.active svg {
					@include font($color: getVar(toolbar-item-active-text));
					display: block;
					fill: getVar(toolbar-item-active-icon-fill);
				}

				&:not(.active) {
					$emptyPadding: calc(1.8rem);
					@include padding(null, $right: $emptyPadding, $left: $emptyPadding);
					svg {
						display: none;
					}
				}

				&:hover {
					@include font($color: getVar(toolbar-item-hover-text));
					background-color: getVar(toolbar-item-hover-bg);
					fill: getVar(toolbar-item-hover-icon-fill);
				}
			}
		}
	}
}
