.#{$projectName} {
	@include position(relative);

	&,
	* {
		box-sizing: border-box;
	}

	.#{getClassName(toolbar)} {
		@include width(100%);
		@include border(getVar(toolbar-border), getVar(toolbar-border), null, getVar(toolbar-border));
		background-color: getVar(toolbar-bg);

		&[toolbar-style='scroll'] {
			@include flex($wrap: nowrap);
			overflow: auto hidden;
		}

		&[toolbar-style='float'] {
			@include flex($wrap: wrap);
			overflow: hidden;
		}

		.#{getClassName(icon)} {
			@include flex($align: center, $inline: true);
			@include all-border(none);
			@include width($min: 1.625rem);
			@include square(1.625rem);

			svg {
				@include square(100%);
			}
		}

		.#{getClassName(select)} {
			@include flex($align: center, $inline: true);
			@include all-border(getVar(toolbar-item-select-border));
			@include width($min: 120px);
			user-select: none;

			.#{getClassName(label)} {
				@include width(calc(100% - 1rem));
				@include truncation;
				text-align: left;
			}

			svg {
				@include square(1rem);
			}
		}

		.#{getClassName(icon-wrap)} {
			@include flex($align: center, $inline: true);
			@include all-border(none);
			@include all-padding(unset !important);
			@include padding(rem !important, 0.1, $bottom: 0.1);

			.#{getClassName(color-icon)} {
				@include all-border(none);
				@include padding(rem !important, 0.1, 0.3, 0.1, 0.3);
				display: inline-block;

				svg {
					@include square(0.9rem);
				}

				div {
					@include rectangle(1rem, 0.18rem);
				}
			}

			& > .#{getClassName(helper)} {
				@include padding(rem, $right: 0.3, $left: 0.3);
				@include square(1.25rem);

				svg {
					@include square(100%);
				}
			}

			&:hover {
				.#{getClassName(color-icon)} {
					@include padding(null, $right: calc(0.3rem - 1px) !important);
					@include border($right: getVar(toolbar-item-select-border));
				}
			}
		}

		.#{getClassName(toolbar-group)} {
			@include flex($align: center, $inline: true);
			@include margin(rem, $right: 0.6, $left: 0.6);
			@include position(relative);

			& > * {
				@include all-margin(0.2rem !important);
			}
		}

		& > :first-child {
			@include margin(rem, $left: 0.2);
		}

		& > :last-child {
			@include margin(rem, $right: 0.2);
		}

		& > :not(.#{getClassName(toolbar-group)}),
		& > .#{getClassName(toolbar-group)} > * {
			@include round(getVar(toolbar-item-radius));
			@include margin(rem, 0.2, 0.6, 0.2, 0.6);
			@include all-padding(0.3rem);
			background-color: getVar(toolbar-item-bg);
			cursor: pointer;
		}

		& > .active:not(.#{getClassName(toolbar-group)}),
		& > .#{getClassName(toolbar-group)} > .active {
			background-color: getVar(toolbar-item-active-bg);
		}

		& > :hover:not(.#{getClassName(toolbar-group)}),
		& > .#{getClassName(toolbar-group)} > :hover {
			background-color: getVar(toolbar-item-hover-bg);
		}

		svg {
			fill: getVar(toolbar-item-icon-fill);
		}
	}

	.#{getClassName(wrapper)} {
		@include position(relative);

		.#{getClassName(notification)} {
			@include position(absolute, 0, 50%);
			transform: translateX(-50%);

			.#{getClassName(notification-message)} {
				@include flex(space-between);
				@include all-padding(0.5rem);
				@include round(0.5rem);
				@include font(1.15rem);
				background-color: rgba(220, 213, 150, 1);

				.#{getClassName(notification-message-text)} {
					@include padding(rem, $right: 0.5);
				}

				.#{getClassName(notification-message-icon)} {
					@include flex($inline: true);
					@include round(0.4rem);
					@include padding($right: 0);
					@include all-border(none);
					background: transparent;
					cursor: pointer;

					svg {
						@include square(1.15rem);
					}
				}
			}
		}

		.#{getClassName(classic)} {
			@include width(100%);
			@include all-border(getVar(editor-border));
			background-color: getVar(editor-bg);
		}
	}

	.#{getClassName(loading)} {
		@include position(absolute, 0, 0);
		@include square(100%);
		@include flex(center, center);
		background: rgba(0, 0, 0, 0.5);
	}

	.#{getClassName(options)} {
		@include position(absolute);
		@include width(fit-content, $min: 120px);
		@include margin($top: -1);
		@include round(getVar(toolbar-item-radius));
		@include all-border(getVar(toolbar-item-select-border));
		cursor: pointer;
		user-select: none;
		background-color: getVar(toolbar-item-option-bg);
		z-index: 9999;

		.#{getClassName(item)} {
			@include flex($align: center);
			@include all-padding(0.4rem);
			@include height(2rem);
			list-style: none;
			white-space: nowrap;

			svg {
				@include square(1rem);
				@include margin(rem, $right: 0.4);
				fill: getVar(toolbar-item-icon-fill);
			}

			&.active svg {
				display: block;
			}

			&:not(.active) {
				$emptyPadding: calc(1.8rem);
				@include padding(null, $right: $emptyPadding, $left: $emptyPadding);
				svg {
					display: none;
				}
			}

			&:hover {
				background-color: getVar(toolbar-item-hover-bg);
			}
		}
	}
}
