.#{$projectName} {
	@include position(relative);

	&,
	* {
		box-sizing: border-box;
	}

	.#{getClassName(toolbar)} {
		@include flex();
		@include width(100%);
		@include border(getVar(toolbar-border), getVar(toolbar-border), null, getVar(toolbar-border));
		background-color: getVar(toolbar-bg);
		overflow: auto hidden;

		.#{getClassName(icon)} {
			@include flex($inline: true);
			@include all-margin(0.2rem);
			@include all-padding(0.3rem);
			@include all-border(none);
		}

		.#{getClassName(select)} {
			@include flex();
			@include position(relative);
			@include all-margin(0.2rem);
			@include all-padding(0.2rem);
			@include width(120px);
			@include all-border(getVar(toolbar-item-select-border));
			user-select: none;

			.#{getClassName(label)} {
				@include width(100%);
				@include truncation;
			}
		}

		.#{getClassName(color-icon)} {
			@include padding(rem, $top: 0.1, $right: 0.3, $bottom: 0.1, $left: 0.3);
			@include all-margin(0.2rem);
			@include all-border(none);
			display: inline-block;

			div {
				@include rectangle(1rem, 0.2rem);
			}
		}

		& > * {
			@include round(getVar(toolbar-item-radius));
			background-color: getVar(toolbar-item-bg);
			cursor: pointer;

			& > svg {
				@include square(1rem);
				fill: getVar(toolbar-item-icon-fill);
			}
		}

		& > .active {
			background-color: getVar(toolbar-item-active-bg);
		}

		& > :hover {
			background-color: getVar(toolbar-item-hover-bg);
		}
	}

	.#{getClassName(wrapper)} {
		@include position(relative);

		.#{getClassName(notification)} {
			@include position(absolute, 0, 50%);
			transform: translateX(-50%);

			.#{getClassName(notification-message)} {
				@include flex(space-between);
				@include all-padding(0.5rem);
				@include round(0.5rem);
				@include font(1.15rem);
				background-color: rgba(220, 213, 150, 1);

				.#{getClassName(notification-message-text)} {
					@include padding(rem, $right: 0.5);
				}

				.#{getClassName(notification-message-icon)} {
					@include flex($inline: true);
					@include round(0.4rem);
					@include padding($right: 0);
					@include all-border(none);
					background: transparent;
					cursor: pointer;

					svg {
						@include square(1.15rem);
					}
				}
			}
		}

		.#{getClassName(classic)} {
			@include width(100%);
			@include all-border(getVar(editor-border));
			background-color: getVar(editor-bg);
		}
	}

	.#{getClassName(loading)} {
		@include position(absolute, 0, 0);
		@include square(100%);
		@include flex(center, center);
		background: rgba(0, 0, 0, 0.5);
	}

	.#{getClassName(options)} {
		@include position(absolute);
		@include width(fit-content, 120px);
		@include margin($top: -1);
		@include round(getVar(toolbar-item-radius));
		@include all-border(getVar(toolbar-item-select-border));
		cursor: pointer;
		user-select: none;
		background-color: getVar(toolbar-item-option-bg);
		z-index: 9999;

		.#{getClassName(item)} {
			@include flex($align: center);
			@include all-padding(0.4rem);
			@include height(2rem);
			list-style: none;
			white-space: nowrap;

			svg {
				@include square(1rem);
				@include margin(rem, $right: 0.4);
				fill: getVar(toolbar-item-icon-fill);
			}

			&.active svg {
				display: block;
			}

			&:not(.active) {
				$emptyPadding: calc(1.8rem);
				@include padding(null, $right: $emptyPadding, $left: $emptyPadding);
				svg {
					display: none;
				}
			}

			&:hover {
				background-color: getVar(toolbar-item-hover-bg);
			}
		}
	}
}
