info-modal {
	@include flex(center, center);
	@include position(fixed, 0, 0);
	@include square(100%);
	background-color: getVar(modal-bg);
	z-index: 9999999;
	box-sizing: border-box;
	user-select: none;

	* {
		display: block;
		box-sizing: inherit;
	}

	info-dialog {
		@include round(getVar(modal-radius));
		@include all-border(getVar(modal-border));

		info-header {
			@include all-padding(0.5rem);
			@include font(14pt);
			@include round(getVar(modal-radius) getVar(modal-radius) 0 0);
			@include border($bottom: getVar(modal-border));
			@include flex(center, space-between);
			background-color: getVar(modal-dialog-bg);

			div {
				@include default-button;
				@include round(getVar(button-radius));

				svg {
					@include square(1.25rem);
					cursor: pointer;
				}
			}
		}

		info-body {
			background-color: getVar(modal-dialog-bg);

			info-wrap {
				@include flex();
				white-space: nowrap;

				& > * {
					@include height(auto, $max: 500px);
				}

				info-navigation {
					@include width(80px);
					@include border($right: getVar(modal-border));

					button {
						@include default-button;
						@include all-margin(0);
						@include border(transparent, transparent, getVar(modal-border), transparent);
						@include width(100%);
						@include padding(rem, 0.5, $bottom: 0.5);
						background-color: getVar(modal-dialog-bg);
						display: block;
						outline: none;
						cursor: pointer;
					}
				}

				info-content {
					@include width(300px);
					@include all-padding(0.25rem);
					overflow-y: auto;

					.#{getClassName(shortcut-content)} {
						&,
						* {
							user-select: text;
						}

						div {
							@include all-padding(0.25rem);
						}

						strong,
						span {
							display: inline-block;
						}

						strong {
							@include margin(rem, $right: 0.25);
						}
					}
				}
			}
		}

		info-footer {
			@include all-padding(0.5rem);
			@include border(getVar(modal-border));
			@include round(0 0 getVar(modal-radius) getVar(modal-radius));
			background-color: getVar(modal-dialog-bg);
			text-align: right;

			button {
				@include common-button;
				@include default-button;
			}
		}
	}
}

@include mobile {
	info-modal {
		display: block;

		info-dialog {
			@include width($max: 96vw);
			@include all-margin(2vw);

			info-body {
				overflow-x: auto;

				info-wrap {
					@include flex($direction: column);

					info-navigation {
						@include width(auto);
						@include height(34px);
						@include border(transparent, transparent, getVar(modal-border), transparent);
						overflow: hidden;

						button {
							@include width(auto);
							@include border(transparent, getVar(modal-border), getVar(modal-border), transparent);
							@include all-padding(0.5rem);
							display: inline-block;
						}
					}

					info-content {
						@include width(100%);
					}
				}
			}
		}
	}
}
