@import '../_modal';

@include modal(info);

info-modal {
	info-dialog {
		info-body {
			info-wrap {
				@include flex();
				white-space: nowrap;

				& > * {
					@include height(auto, $max: 500px);
				}

				info-navigation {
					@include width(80px);
					@include border($right: getVar(modal-border));

					button {
						@include default-button;
						@include all-margin(0);
						@include border(transparent, transparent, getVar(modal-border), transparent);
						@include width(100%);
						@include padding(rem, 0.5, $bottom: 0.5);
						background-color: getVar(modal-dialog-bg);
						display: block;
						outline: none;
						cursor: pointer;
					}
				}

				info-content {
					@include width(300px);
					@include all-padding(0.25rem);
					overflow-y: auto;

					.#{getClassName(shortcut-content)} {
						&,
						* {
							user-select: text;
						}

						div {
							@include all-padding(0.25rem);
						}

						strong,
						span {
							display: inline-block;
						}

						strong {
							@include margin(rem, $right: 0.25);
						}
					}
				}
			}
		}

		info-footer {
			button {
				@include default-button;
			}
		}
	}
}

@include mobile {
	info-modal {
		info-dialog {
			info-body {
				info-wrap {
					@include flex($direction: column);

					info-navigation {
						@include width(auto);
						@include height(34px);
						@include border(transparent, transparent, getVar(modal-border), transparent);
						overflow: hidden;

						button {
							@include width(auto);
							@include border(transparent, getVar(modal-border), getVar(modal-border), transparent);
							@include all-padding(0.5rem);
							display: inline-block;
						}
					}

					info-content {
						@include width(100%);
					}
				}
			}
		}
	}
}
