.#{$projectName} {
	.#{getClassName(toolbar)} {
		@include width(100%);
		@include border(getVar(toolbar-border), getVar(toolbar-border), null, getVar(toolbar-border));
		@include all-padding(0.5rem);
		background-color: getVar(toolbar-bg);
		gap: 0.6rem;

		&[toolbar-style='scroll'] {
			@include flex(center, $wrap: nowrap);
			overflow: auto hidden;
		}

		&[toolbar-style='float'] {
			@include flex(center, $wrap: wrap);
			overflow: hidden;
		}

		button {
			@include all-border(getVar(toolbar-item-border));
			@include height(getVar(toolbar-item-size));
			background-color: getVar(toolbar-item-bg);
			outline: none;
			cursor: pointer;
		}

		& > :not(.#{getClassName(toolbar-group)}),
		.#{getClassName(icon-group)} > *,
		& > .#{getClassName(toolbar-group)} > *,
		.#{getClassName(icon-wrap)} > .#{getClassName(icon-button)} {
			@include flex(center, center, $inline: true);
			@include round(getVar(toolbar-item-radius));
			@include all-padding(unset);
			@include font($color: getVar(toolbar-item-font));
			background-color: getVar(toolbar-item-bg);

			&:not(.#{getClassName(select)}) {
				@include all-border(getVar(toolbar-item-border));
			}

			&[disabled] {
				svg {
					fill: getVar(toolbar-item-disabled-icon-fill);
				}
			}
		}

		.#{getClassName(icon-button)} {
			@include width($min: getVar(toolbar-item-size));
			@include square(getVar(toolbar-item-size));

			svg {
				@include square(getVar(toolbar-icon-size));
			}
		}

		.#{getClassName(icon-wrap)} {
			.#{getClassName(color-icon)} {
				@include all-border(none);

				svg {
					@include square(getVar(toolbar-icon-size));
				}

				div {
					@include rectangle(getVar(toolbar-icon-size), 0.18rem);
				}
			}

			.#{getClassName(icon-button)} {
				@include all-border(none);
				@include all-margin(0);
			}

			& > .#{getClassName(helper)} {
				@include all-border(none);
				@include padding(rem, $right: 0.25, $left: 0.25);
				@include flex(center, center, $inline: true);

				svg {
					@include square(0.8rem);
				}
			}

			&:not([disabled], [no-border]):hover,
			&:not([disabled], [no-border]).active {
				&:hover {
					background-color: getVar(toolbar-item-hover-light-bg) !important;
				}

				.#{getClassName(color-icon)} {
					@include margin(px, $right: -1);
				}

				.#{getClassName(icon-button)},
				.#{getClassName(color-icon)} {
					@include border($right: getVar(toolbar-item-select-border));

					&:hover {
						background-color: getVar(toolbar-item-hover-bg) !important;
					}
				}

				.#{getClassName(helper)}:hover {
					background-color: getVar(toolbar-item-hover-bg) !important;
				}
			}
		}

		.#{getClassName(icon-group)} {
			@include all-border(none);
			@include height(getVar(toolbar-item-size));

			& > * {
				@include all-margin(0.2rem);
			}

			&:not([disabled]) {
				@include font($color: getVar(toolbar-item-font) !important);
				background-color: getVar(toolbar-item-bg) !important;
			}
		}

		.#{getClassName(select)} {
			@include all-border(getVar(toolbar-item-select-border));
			@include width($min: getVar(toolbar-item-size));
			@include all-padding(0 getVar(toolbar-item-select-padding));
			user-select: none;

			.#{getClassName(select-label)} {
				@include width(getVar(toolbar-item-select-label-width));
				@include truncation;
				text-align: left;
			}

			svg {
				@include square(0.8rem);
			}

			&:disabled {
				@include font($color: getVar(toolbar-item-disabled-icon-fill));
			}
		}

		.#{getClassName(toolbar-group)} {
			@include flex(center, $inline: true);
			@include margin(rem, $right: 0.6, $left: 0.6);
			@include position(relative);
			@include height(getVar(toolbar-item-size));

			& > * {
				@include all-margin(0.2rem);
			}
		}

		& > :first-child {
			@include margin(rem, $left: 0.2);
		}

		& > :last-child {
			@include margin(rem, $right: 0.2);
		}

		button[disabled],
		button[disabled] * {
			cursor: default !important;
		}

		& > .active:not(.#{getClassName(toolbar-group)}),
		.#{getClassName(icon-group)} > :not([disabled]).active,
		& > .#{getClassName(toolbar-group)} > .active {
			@include font($color: getVar(toolbar-item-active-font));
			@include all-border(getVar(toolbar-item-active-border));
			background-color: getVar(toolbar-item-active-bg);
		}

		& > :not(.#{getClassName(toolbar-group)}, .#{getClassName(icon-group)}, [disabled]):hover,
		.#{getClassName(icon-group)} > :not([disabled]):hover,
		& > .#{getClassName(toolbar-group)} > :not([disabled]):hover {
			@include font($color: getVar(toolbar-item-hover-font));
			@include all-border(getVar(toolbar-item-hover-border));
			background-color: getVar(toolbar-item-hover-bg);
		}

		svg {
			fill: getVar(toolbar-item-icon-fill);
		}
	}
}
