.#{$projectName} {
	&[mode='classic'] {
		.#{getClassName(container)} {
			@include margin(rem, $bottom: -0.25);
		}
	}

	.#{getClassName(wrapper)} {
		@include position(relative);

		.#{getClassName(notification)} {
			@include position(absolute, $bottom: 1rem, $right: 1rem);

			.#{getClassName(notification-message)} {
				@include flex($justify: space-between);
				@include all-padding(0.5rem);
				@include round(0.5rem);
				@include font(1.15rem);
				animation: fade-in 0.5s ease-in;
				box-shadow: 4px 4px 24px -3px rgba(0, 0, 0, 0.75);

				&[type='warning'] {
					background-color: rgba(255, 244, 149, 0.5);
				}

				&[type='error'] {
					background-color: rgb(207, 57, 57, 0.5);
				}

				&.fade-out {
					animation: fade-out 0.5s ease-out;
				}

				.#{getClassName(notification-message-font)} {
					@include padding(rem, $right: 0.5);
				}

				.#{getClassName(notification-message-icon)} {
					@include flex($inline: true);
					@include round(0.4rem);
					@include padding($right: 0);
					@include all-border(none);
					background: transparent;
					cursor: pointer;

					svg {
						@include square(1.15rem);
					}
				}

				&:not(:first-child) {
					@include margin(rem, 0.5);
				}
			}
		}
	}

	.#{getClassName(container)} {
		@include all-border(transparent);
		@include width(calc(100% - 2px));
		@include margin(px, $left: 1);
		outline: getVar(editor-border) 1px solid;
		background-color: getVar(editor-bg);
		user-select: none;

		&.focused {
			@include all-border(getVar(editor-focused-border));
			outline-color: getVar(editor-focused-border);
		}
	}
}
