.#{$projectName} {
	&[mode='classic'] {
		.#{getClassName(container)} {
			@include margin(rem, $bottom: -0.25);
		}
	}

	.#{getClassName(wrapper)} {
		@include position(relative);

		.#{getClassName(notification)} {
			@include position(absolute, 0, 50%);
			transform: translateX(-50%);

			.#{getClassName(notification-message)} {
				@include flex($justify: space-between);
				@include all-padding(0.5rem);
				@include round(0.5rem);
				@include font(1.15rem);
				background-color: rgba(220, 213, 150, 1);

				.#{getClassName(notification-message-font)} {
					@include padding(rem, $right: 0.5);
				}

				.#{getClassName(notification-message-icon)} {
					@include flex($inline: true);
					@include round(0.4rem);
					@include padding($right: 0);
					@include all-border(none);
					background: transparent;
					cursor: pointer;

					svg {
						@include square(1.15rem);
					}
				}
			}
		}

		.#{getClassName(container)} {
			@include all-border(transparent);
			@include width(calc(100% - 2px));
			@include margin(px, $left: 1);
			outline: getVar(editor-border) 1px solid;
			background-color: getVar(editor-bg);

			&.focused {
				@include all-border(getVar(editor-focused-border));
				outline-color: getVar(editor-focused-border);
			}
		}
	}
}
