@mixin dom-tools {
	[data-fixed='dom-tool'] {
		&,
		* {
			z-index: 999999;
		}

		[data-movable] {
			@include position(absolute, calc(0px - 1rem), 0);
			@include all-border(getVar(tool-default-color) !important, 3px);
			@include all-margin(0px);
			@include square(calc(1rem - 6px));
			@include height($line: 0);
			cursor: move;

			svg {
				@include all-margin(0px);
				@include square(calc(1rem - 6px));
			}
		}

		[data-adjustable-edge-group] {
			[data-adjustable-edge] {
				@include position(absolute);
				@include all-margin(0px);
				@include square(0.75rem);
				@include height($line: 0);
				background-color: getVar(tool-default-color);

				&[data-adjustable-edge='east'] {
					cursor: ne-resize;
				}

				&[data-adjustable-edge='west'] {
					cursor: nw-resize;
				}
			}
		}

		&[data-type='table-tool'] {
			[data-adjustable-line-group] {
				[data-adjustable-line] {
					@include position(absolute);
					@include all-margin(0px);

					&[data-adjusting] {
						background-color: getVar(tool-default-color);
					}
				}

				[data-adjustable-line='width'] {
					cursor: col-resize;
				}

				[data-adjustable-line='height'] {
					cursor: row-resize;
				}
			}

			table {
				@include font($color: transparent);
				border-style: dotted;

				th,
				td {
					border-style: dotted;
					white-space: nowrap;
				}
			}
		}

		&[data-type='media-tool'] {
			[data-adjustable-line-group] {
				[data-adjustable-line] {
					@include position(absolute);
					@include all-margin(0px);
					background-color: getVar(tool-default-color);
				}

				[data-adjustable-line='left'],
				[data-adjustable-line='right'] {
					cursor: col-resize;
				}

				[data-adjustable-line='top'],
				[data-adjustable-line='bottom'] {
					cursor: row-resize;
				}
			}

			[data-media-menu] {
				@include position(absolute);
				@include all-border(getVar(media-menu-border));
				@include round(getVar(media-menu-radius));
				@include all-padding(0.2rem);
				@include rectangle(9rem, 1.6rem);
				@include flex(space-between, center);
				background-color: getVar(media-menu-bg);

				.#{getClassName(icon-group)} {
					.#{getClassName(icon-button)} {
						@include flex($align: center, $inline: true);
						@include all-padding(0.2rem);
						@include all-border(none);
						@include round(getVar(media-menu-item-radius));
						background-color: getVar(media-menu-item-bg);
						cursor: pointer;

						svg {
							@include square(1.2rem);
							fill: getVar(media-menu-item-icon-fill);
						}

						&:hover {
							background-color: getVar(media-menu-item-hover-bg);
						}

						&.active {
							background-color: getVar(media-menu-item-active-bg);
						}
					}

					&:not(:last-child) {
						@include margin(rem, $left: 0.25);
					}
				}
			}
		}
	}
}
